.hero {
  height: 100vh;
  padding-top: 150px;
  background-image: url("https://images.pexels.com/photos/9208560/pexels-photo-9208560.jpeg?_gl=1*1ujqxx0*_ga*MTk2NTY1NTAwMS4xNzgwMDc1OTcy*_ga_8JE65Q40S6*czE3ODAzMjk0NzEkbzUkZzEkdDE3ODAzMzAwMjQkajYwJGwwJGgw");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.9);
  overflow: hidden;
}
.f-name {
  width: 100%;
  overflow: hidden;
}
.l-name {
  width: 100%;
  text-align: end;
  margin-top: -100px;
  align-items: flex-end;
  overflow: hidden;
}
.l-name p {
  font-size: 22px;
  font-weight: 500;
  text-shadow: 1px 1px 5px #0000004f;
}

@media (max-width: 768px) {
  .hero {
    background-position: 50% 0%;
    padding-top: 300px;
  }

  .l-name {
    text-align: start;
    align-items: start;
    flex-direction: column-reverse;
    gap: 5px;
    margin: 0;
  }

  .l-name p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
  }
}
