:root {
  --btnBg: #455ce9;
  --bodyBg: #1c1d20;
  --lightBlackP: rgb(75, 75, 75);
  --lightWhiteP: rgb(209, 209, 209);

  --radius: 30px;
  --transition: 0.3s ease;
}

.container {
  width: min(1440px, 95%);
  margin: auto;
}

.flex {
  display: flex;
}

.fClmn {
  flex-direction: column;
}

.sb {
  justify-content: space-between;
}

.jc {
  justify-content: center;
}

.ac {
  align-items: center;
}

h1 {
  font-size: clamp(5.5rem, 1rem + 15vw, 15rem);
  line-height: 1.2;
  font-family: Oswald, Montserrat;
  color: #ffffff;
  text-shadow: 1px 1px 5px #0000002b;
  letter-spacing: -5px;
}

.hero {
  position: relative;
  user-select: none;
  min-height: 100vh;
  padding-top: 150px;
  background-image: url("https://images.pexels.com/photos/9208560/pexels-photo-9208560.jpeg?_gl=1*1ujqxx0*_ga*MTk2NTY1NTAwMS4xNzgwMDc1OTcy*_ga_8JE65Q40S6*czE3ODAzMjk0NzEkbzUkZzEkdDE3ODAzMzAwMjQkajYwJGwwJGgw");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.9);
  overflow: hidden;
}
.black {
  background: #000;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 999;
}
.fName {
  width: 100%;
  overflow: hidden;
}
.lName {
  width: 100%;
  text-align: end;
  margin-top: -100px;
  align-items: flex-end;
  overflow: hidden;
}
.lName p {
  font-size: 22px;
  font-weight: 500;
  text-shadow: 1px 1px 5px #0000004f;
  font-family: Montserrat, sans-serif;
}

@media (max-width: 768px) {
  .hero {
    background-position: 50% 0%;
    padding-top: 300px;
  }

  .lName {
    text-align: start;
    align-items: start;
    flex-direction: column-reverse;
    gap: 5px;
    margin: 0;
  }

  .lName p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
  }
}
