header {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  height: 3.5rem;
  user-select: none;
  z-index: 10;
}
header .container {
  position: relative;
}
.IconCol {
  display: none;
}
.menuBtn,
.closeBtn {
  color: #fff;
}
.closeBtn {
  display: none;
}
.nav-links {
  gap: 10px;
}
.nav-links li,
.cta li {
  border-radius: var(--radius);
  transition: var(--transition);
}
.nav-links li a,
.cta li a {
  font-size: 16px;
  padding: 8px 15px;
  display: inline-block;
  border-radius: var(--radius);
  background-color: var(--bodyBg);
  color: #fff;
  backdrop-filter: blur(5px);
  letter-spacing: -1px;
  font-weight: 400;
  transition: var(--transition);
}
.nav-links li a:hover,
.cta li a:hover {
  background-color: var(--btnBg);
}
.cta li a {
  align-items: center;
  gap: 5px;
}
.nav-links li:active {
  transform: scale(0.95);
}
.cta li:active {
  transform: scale(0.95);
}
.IconCol button,
.nav-links li,
.cta li {
  box-shadow: 2px 2px 10px -5px #000;
}
.cta,
.cta svg {
  transition: var(--transition);
}
.cta:hover {
  transform: scale(1.1);
}
.cta:hover svg {
  transform: rotate(45deg);
  margin-left: 5px;
}

@media (max-width: 1024px) {
  .IconCol {
    display: flex;
  }
  .closeBtn,
  .menuBtn {
    background: transparent;
    padding: 0;
    padding-left: 3px;
  }
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 3rem;
    left: 0;
  }
  .nav-links li a {
    letter-spacing: unset;
    font-weight: 400;
  }
  .nav-links li {
    transform: translateY(-10px);
    display: none;
  }
  .nav-links li a:hover,
  .cta li a:hover,
  .IconCol button:hover,
  .cta:hover {
    transform: scale(1);
  }
  .nav-links li a:active,
  .cta li a:active,
  .cta:active {
    transform: scale(0.95);
  }
  .cta:hover svg {
    transform: rotate(0deg);
    margin-left: 0;
  }
}
