:root {
  --btnBg: #455ce9;
  --bodyBg: #1c1d20;
  --lightBlackP: rgb(75, 75, 75);
  --lightWhiteP: rgb(209, 209, 209);

  --radius: 30px;
  --transition: 0.3s ease;
}

.container {
  width: min(1440px, 95%);
  margin: auto;
}

.flex {
  display: flex;
}

.f-clmn {
  flex-direction: column;
}

.sb {
  justify-content: space-between;
}

.jc {
  justify-content: center;
}

.ac {
  align-items: center;
}

header {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  height: 3.5rem;
  user-select: none;
  z-index: 10;
}
header .container {
  position: relative;
}
.IconCol {
  display: none;
}
.menuBtn,
.closeBtn {
  color: #fff;
}
.closeBtn {
  display: none;
}
.navLink {
  gap: 10px;
}
.navLink li,
.cta li {
  border-radius: var(--radius);
  transition: var(--transition);
}
.navLink li a,
.cta li a {
  font-size: 16px;
  padding: 8px 15px;
  display: inline-block;
  border-radius: var(--radius);
  background-color: var(--bodyBg);
  color: #fff;
  backdrop-filter: blur(5px);
  letter-spacing: -1px;
  font-weight: 400;
  transition: var(--transition);
}
.navLink li a:hover,
.cta li a:hover {
  background-color: var(--btnBg);
}
.cta li a {
  align-items: center;
  gap: 5px;
}
.navLink li:active {
  transform: scale(0.95);
}
.cta li:active {
  transform: scale(0.95);
}
.IconCol button,
.navLink li,
.cta li {
  box-shadow: 2px 2px 10px -5px #000;
}
.cta,
.cta svg {
  transition: var(--transition);
}
.cta:hover {
  transform: scale(1.1);
}
.cta:hover svg {
  transform: rotate(45deg);
  margin-left: 5px;
}

@media (max-width: 1024px) {
  .IconCol {
    display: flex;
  }
  .closeBtn,
  .menuBtn {
    background: unset;
    box-shadow: unset !important;
    padding: 0;
    padding-left: 3px;
  }
  .navLink {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 3rem;
    left: 0;
  }
  .navLink li a {
    letter-spacing: unset;
    font-weight: 400;
  }
  .navLink li {
    transform: translateY(-10px);
    display: none;
  }
  .navLink li a:hover,
  .cta li a:hover,
  .IconCol button:hover,
  .cta:hover {
    transform: scale(1);
  }
  .navLink li a:active,
  .cta li a:active,
  .cta:active {
    transform: scale(0.95);
  }
  .cta:hover svg {
    transform: rotate(0deg);
    margin-left: 0;
  }
}
