:root {
  --btnBg: #455ce9;
  --bodyBg: #1c1d20;
  --lightBlackP: rgb(75, 75, 75);
  --lightWhiteP: rgb(209, 209, 209);

  --radius: 30px;
  --transition: 0.3s ease;
}

.container {
  width: min(1440px, 95%);
  margin: auto;
}

.flex {
  display: flex;
}

.sb {
  justify-content: space-between;
}

.jc {
  justify-content: center;
}

.ac {
  align-items: center;
}

p {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
}
.aboutPrev {
  background: #fff;
  padding: 7rem 7rem;
  padding-bottom: 5rem;
  height: fit-content;
}
.aboutContent {
  position: relative;
  padding-bottom: 80px;
  border-bottom: 1px solid #cdcccc;
  gap: 110px;
}
.aboutFirsttext {
  font-size: clamp(1.4em, 2.3vw, 2rem);
  font-weight: 450;
  letter-spacing: -0.6px;
  padding-right: 30px;
  color: #000000;
}
.abouttext {
  color: #414141;
  margin-bottom: 6em;
  padding-top: 0.5em;
  padding-left: 30px;
  font-weight: 450;
  font-style: normal;
  line-height: 1.66;
}
.aboutCta {
  border-radius: 50%;
  width: 164px;
  height: 164px;
  font-size: 16px;
  background: var(--bodyBg);
  color: #ffffff;
  position: absolute;
  bottom: -77px;
  left: 70%;
  transition: var(--transition);
}
.aboutCta:hover {
  background: var(--btnBg);
  rotate: 360deg;
}
.aboutCta:active {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .aboutPrev {
    padding: 7rem 0rem;
    padding-bottom: 5rem;
  }
  .aboutContent {
    gap: 30px;
  }
  .aboutFirsttext {
    width: 100%;
  }
  .abouttext {
    padding: 0px;
    width: 70%;
  }
  .aboutCta {
    left: 65%;
  }
}

@media (max-width: 768px) {
  .aboutContent {
    gap: 50px;
    flex-direction: column;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .aboutFirsttext {
    padding-right: 0px;
  }
  .abouttext {
    padding: 0px;
    width: 70%;
  }
  .aboutCta {
    width: 143px;
    height: 143px;
    left: 60%;
  }
}

@media (max-width: 480px) {
  .aboutFirsttext {
    letter-spacing: -0.5px;
  }
  .aboutCta {
    padding: 60px 26px;
    bottom: -70px;
    left: 55%;
  }
}
