* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: smooth !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
:root {
  --btnBg: #455ce9;
  --bodyBg: #1c1d20;
  --lightBlackP: rgb(75, 75, 75);
  --lightWhiteP: rgb(209, 209, 209);

  --radius: 30px;
  --transition: 0.3s ease;
}

.flex {
  display: flex;
}

.fClmn {
  flex-direction: column;
}

.sb {
  justify-content: space-between;
}

.jc {
  justify-content: center;
}

.ac {
  align-items: center;
}

li {
  list-style: none;
  display: inline-block;
}

span {
  display: inline-block;
}
.contactPage {
  padding: 30vh 15vw;
  padding-bottom: 5rem;
  height: fit-content;
}
.black {
  background: #000;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.helloText {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-weight: 400;
  color: #fff;
  font-size: clamp(3rem, 4vw, 4rem);
  font-family: Montserrat, sans-serif;
}
.topContent p {
  width: 65%;
  font-size: 4.5vw;
  line-height: 1.2;
  font-weight: 450;
}
.topImg {
  margin-bottom: -9rem;
  width: 25%;
  gap: 3.5rem;
}
.topImg img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.lastContent {
  width: 100%;
  margin-top: 10rem;
}
.contactForm {
  display: flex;
  flex-direction: column;
}
.formBox {
  width: 65%;
}
.formGroup {
  border-bottom: 1px solid var(--lightBlackP);
  gap: 1rem;
  padding: 1.5rem 0rem;
  padding-top: 3rem;
}
.formGroup:first-child {
  border-top: 1px solid var(--lightBlackP);
}
label,
input,
textarea,
input::placeholder,
textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
label {
  width: 100%;
  font-size: clamp(17px, 2vw, 24px);
}
label span {
  font-size: 14px;
  color: #909090;
  font-weight: 300;
  margin-right: 2rem;
}
input {
  width: 100%;
  font-size: clamp(16px, 1.2vw, 20px);
  padding: 1rem 0rem;
  padding-left: 3.5rem;
  background: transparent;
  border: unset;
  color: var(--lightWhiteP);
}
textarea {
  width: 100%;
  height: 15rem;
  font-size: clamp(16px, 1.2vw, 20px);
  padding: 1rem 0rem;
  padding-left: 3.5rem;
  background: transparent;
  border: unset;
  resize: none;
  color: var(--lightWhiteP);
}
input::placeholder,
textarea::placeholder {
  color: #666;
}
.contactForm input:focus,
.contactForm textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: unset; /* apna color */
}
.contactCta {
  width: 80%;
  margin: auto;
  margin-top: -5rem;
  justify-content: flex-end;
}
.submitBtn {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  font-size: clamp(16px, 1.2vw, 20px);
  background: #f2f2f2;
  color: #000000;
  border-radius: 50%;
  transition: var(--transition);
}
.submitBtn:hover {
  color: #fff;
  background-color: var(--btnBg);
  transform: rotate(360deg);
}
.details {
  width: 25%;
  gap: 3rem;
}
.socials a,
.info a {
  width: fit-content;
  position: relative;
  transition: var(--transition);
  padding: 5px 0px;
}
.socials a::after,
.info a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 1px;
  background: currentColor;
  transform: translateX(-50%);
  transition: width 0.4s ease;
}
.socials a:hover,
.info a:hover {
  animation: shake 0.6s linear;
}
.socials a:hover::after,
.info a:hover::after {
  width: 100%;
}
.info,
.socials {
  width: 100%;
  gap: 5px;
}
.info p,
.socials p {
  color: #a2a2a2;
  margin-bottom: 1rem;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(2deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 1024px) {
  .contactPage {
    padding: 10vh 5vw;
    padding-top: 10rem;
  }
  .topContent p {
    width: 100%;
    font-size: 6vw;
  }
  .lastContent {
    margin-top: 5rem;
  }
  .formBox {
    width: 60%;
  }
  .details {
    width: 30%;
  }
  .topImg {
    margin-bottom: -6rem;
    width: 40%;
    gap: 2.5rem;
  }
  .topImg img {
    width: 80px;
    height: 80px;
  }
  .submitBtn {
    border-radius: 50%;
    font-size: clamp(18px, 1.2vw, 20px);
    background: #f2f2f2;
    color: #000000;
    border-radius: 50%;
    transition: var(--transition);
  }
}

@media (max-width: 768px) {
  .contactPage {
    padding: 10vh 0vw;
    padding-top: 10rem;
  }
  .topContent {
    flex-direction: column;
    gap: 1.5rem;
  }
  .topContent p {
    width: 100%;
    font-size: 11vw;
  }
  .topImg {
    width: 100%;
    gap: 1rem;
    margin: 0;
  }
  .topImg img {
    width: 80px;
    height: 80px;
  }
  .topImg svg {
    display: none;
  }
  .lastContent {
    flex-direction: column-reverse;
    gap: 3rem;
    margin-top: 3rem;
  }
  .formBox {
    width: 100%;
  }
  .details {
    width: 100%;
    align-items: flex-start;
  }
  label span {
    margin-right: 0.5rem;
  }
  input,
  textarea {
    padding-left: 1.7rem;
  }
}
