.hero {
  height: 100vh;
  padding-top: 100px;
  background-image: url("https://i.pinimg.com/1200x/62/ee/6c/62ee6c8f6fda25185a1c91ba8dfb3971.jpg");
  background-position: 0% 85%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.9);
  overflow: hidden;
}
.f-name {
  width: 100%;
  overflow: hidden;
}
.l-name {
  width: 100%;
  text-align: end;
  margin-top: -100px;
  align-items: flex-end;
  overflow: hidden;
}
.l-name p {
  font-size: 22px;
  font-weight: 500;
  text-shadow: 1px 1px 5px #0000004f;
}

@media (max-width: 768px) {
  .hero {
    padding-top: 300px;
  }

  .l-name {
    text-align: start;
    align-items: start;
    flex-direction: column-reverse;
    gap: 5px;
    margin: 0;
  }

  .l-name p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
  }
}
